@import "./Styles/layout";
@import "./Styles/Navbar";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a4acc4;
    font-family: tahoma;
    font-size: 1.2rem;
}